.wrapper {
    background-color: #fff;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
  }
  
  .tabs {
    box-sizing: border-box;
    background-color: transparent;
    min-width: 80%;
    max-width: 100%;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed relative;
  }
  .main {
    box-sizing: border-box;
    background-color: transparent;
    min-width: auto;
    max-width: auto;
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }